@charset "UTF-8";
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format "woff", url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*###############################
#            FOOTER             #
###############################*/
.footer {
  background-color: #f9f9fb;
  border-top: 4px solid #FCB66B;
  color: #333;
  font-family: "Mulish";
  padding-top: 1rem;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.footer .footer-content .footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p, .footer .footer-content .footer-section li, .footer .footer-content .footer-section a {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}
.footer .footer-content .footer-section p {
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.3rem;
}
.footer .footer-content .footer-map {
  text-align: center;
}
.footer .footer-content .footer-map img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.footer .footer-bottom {
  background-color: #D1ECF8;
  text-align: center;
  padding: 0.5rem;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}
.footer .footer-logo {
  align-self: center;
}
.footer .logo-mobile-only-footer {
  display: none;
}
.footer .mobile-only {
  display: none;
}
@media screen and (max-width : 428px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-content {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  .footer .footer-content h3 {
    font-size: 13px;
  }
  .footer .footer-content .footer-logo {
    display: none;
  }
  .footer .footer-bottom {
    font-size: 10px;
  }
  .footer .logo-mobile-only-footer {
    display: block;
    align-self: center;
  }
  .footer .mobile-only {
    display: none;
  }
  .footer .other-account {
    align-self: center;
    text-align: center;
    margin-top: 10px;
  }
}

/*###############################
#            HEADER             #
###############################*/
header {
  transition: transform 0.3s ease;
  top: 0;
}
header .mobile-only {
  display: none;
}
header form {
  display: flex;
  width: 60%;
  align-items: center;
  margin-left: auto;
}
header form input[type=search] {
  padding: 1em;
  border-radius: 40px;
  border: none;
  max-width: 700px;
  width: 80%;
  min-width: none;
  font-size: "Mulish";
}
header form input[type=search]::-webkit-search-cancel-button {
  position: relative;
  left: -40px;
}
header form button {
  display: flex;
  z-index: 2;
  align-items: center;
  height: 32px;
  border-radius: 40px;
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
  position: relative;
  left: -40px;
}
header {
  z-index: 1000;
  position: fixed;
  display: inline-flex;
  background-color: #064082;
  height: 80px;
  width: 100%;
  align-items: center;
}
header .logo_alizon_front {
  width: 118px;
  height: auto;
  padding-left: 80px;
  left: 0;
  margin: 20px;
}
header .connexion-panier {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header .connexion-panier a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  color: white;
  text-decoration: none;
}
header .connexion-panier svg {
  padding-right: 10px;
}
@media screen and (max-width : 428px) {
  header .logo_alizon_front {
    padding-left: 30px;
    width: 100px;
  }
  header .tab-only {
    display: none;
  }
  header .mobile-only {
    display: block;
    padding-left: 20px;
  }
  header button {
    background: none;
    border: none;
  }
  header nav svg {
    padding-right: 30px;
  }
}

body {
  font-family: "Mulish", "Baloo", "sans-serif";
  font-size: 14px;
  background-color: white;
  color: black;
  margin: 0;
}

main {
  padding-top: 80px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

h1 {
  font-family: "Baloo";
  font-size: 40px;
}

h2 {
  font-family: "Baloo";
  font-size: 32px;
}

h3 {
  font-family: "Baloo";
  font-size: 24px;
}

h4 {
  font-family: "Baloo";
  font-size: 20px;
}

p, label, input {
  font-family: "Mulish";
}

label {
  font-weight: bold;
}

input:user-invalid, input.invalid {
  border-color: red;
}
input:user-invalid + span, input.invalid + span {
  display: block;
}

.bouton {
  font-family: "Mulish";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #064082;
  border-radius: 1em;
  height: 2rem;
  border: none;
  cursor: pointer;
}
.bouton:hover {
  background-color: rgb(6.75, 72, 146.25);
}
.bouton:active {
  background-color: rgb(4.5, 48, 97.5);
}

/*###############################
#            HEADER             #
###############################*/
header {
  transition: transform 0.3s ease;
  top: 0;
}
header .mobile-only {
  display: none;
}
header form {
  display: flex;
  width: 60%;
  align-items: center;
  margin-left: auto;
}
header form input[type=search] {
  padding: 1em;
  border-radius: 40px;
  border: none;
  max-width: 700px;
  width: 80%;
  min-width: none;
  font-size: "Mulish";
}
header form input[type=search]::-webkit-search-cancel-button {
  position: relative;
  left: -40px;
}
header form button {
  display: flex;
  z-index: 2;
  align-items: center;
  height: 32px;
  border-radius: 40px;
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
  position: relative;
  left: -40px;
}
header {
  z-index: 1000;
  position: fixed;
  display: inline-flex;
  background-color: #064082;
  height: 80px;
  width: 100%;
  align-items: center;
}
header .logo_alizon_front {
  width: 118px;
  height: auto;
  padding-left: 80px;
  left: 0;
  margin: 20px;
}
header .connexion-panier {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header .connexion-panier a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  color: white;
  text-decoration: none;
}
header .connexion-panier svg {
  padding-right: 10px;
}
@media screen and (max-width : 428px) {
  header .logo_alizon_front {
    padding-left: 30px;
    width: 100px;
  }
  header .tab-only {
    display: none;
  }
  header .mobile-only {
    display: block;
    padding-left: 20px;
  }
  header button {
    background: none;
    border: none;
  }
  header nav svg {
    padding-right: 30px;
  }
}

/*###############################
#            FOOTER             #
###############################*/
.footer {
  background-color: #f9f9fb;
  border-top: 4px solid #FCB66B;
  color: #333;
  font-family: "Mulish";
  padding-top: 1rem;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.footer .footer-content .footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p, .footer .footer-content .footer-section li, .footer .footer-content .footer-section a {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}
.footer .footer-content .footer-section p {
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.3rem;
}
.footer .footer-content .footer-map {
  text-align: center;
}
.footer .footer-content .footer-map img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.footer .footer-bottom {
  background-color: #D1ECF8;
  text-align: center;
  padding: 0.5rem;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}
.footer .footer-logo {
  align-self: center;
}
.footer .logo-mobile-only-footer {
  display: none;
}
.footer .mobile-only {
  display: none;
}
@media screen and (max-width : 428px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-content {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  .footer .footer-content h3 {
    font-size: 13px;
  }
  .footer .footer-content .footer-logo {
    display: none;
  }
  .footer .footer-bottom {
    font-size: 10px;
  }
  .footer .logo-mobile-only-footer {
    display: block;
    align-self: center;
  }
  .footer .mobile-only {
    display: none;
  }
  .footer .other-account {
    align-self: center;
    text-align: center;
    margin-top: 10px;
  }
}

/*###############################
#        Menu Categorie         #
################################*/
nav {
  transition: transform 0.3s ease;
  width: 100%;
  margin: 0 auto;
  background-color: #6CA6E9;
  position: sticky;
  top: 80px;
  z-index: 1000;
}
@media screen and (max-width: 428px) {
  nav {
    display: none;
  }
}
nav ul {
  list-style-type: none;
  text-indent: none;
  padding-left: 0;
}
nav ul li {
  display: block;
  justify-content: space-around;
  float: left;
  width: 16.6%;
  text-align: center;
  position: relative;
}
nav ul::after {
  content: "";
  clear: both;
  display: table;
}
nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
}
nav a:hover {
  border-bottom: 2px solid #064082;
  color: black;
}

.souscat-ul {
  z-index: 1000;
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding-left: 0;
}
.souscat-ul li {
  float: none;
  width: 100%;
  text-align: left;
}
.souscat-ul a {
  padding: 10px;
  border-bottom: none;
}
.souscat-ul a:hover {
  border-bottom: none;
  background-color: #D1ECF8;
}

.deroulant a:hover {
  content: "▼";
  font-size: 12px;
  color: black;
}

nav div > ul li:hover .souscat-ul {
  display: block;
}

.src-tel {
  position: absolute;
  bottom: 60%;
  background: none;
  border: none;
  width: auto;
  overflow: hidden;
}
.src-tel form {
  margin: 0 auto;
  width: 100%;
  left: 30px;
  position: relative;
}
.src-tel::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.burger-menu {
  margin-left: 20px;
  display: none;
}
@media screen and (max-width: 428px) {
  .burger-menu {
    display: inline-block;
  }
}

.overlayMenuCat {
  z-index: 998;
  display: none;
  position: fixed;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.overlayContentCat {
  position: absolute;
  background: #6CA6E9;
  padding: 2rem;
  padding-left: 1rem;
  text-align: left;
  max-width: 400px;
  min-width: 200px;
  height: 550px;
  top: 100px;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}
@media screen and (max-width: 428px) {
  .overlayContentCat {
    display: none;
  }
}
.overlayContentCat ul {
  padding-inline-start: 1rem;
}
.overlayContentCat ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.overlayContentCat ul li a {
  text-decoration: underline;
  font-family: "Mulish";
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.overlayContentCat ul ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}
.overlayContentCat ul ul > li {
  margin-left: 1rem;
}

.overlayCompte {
  z-index: 1000;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

.catalogue {
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.catalogue .card {
  margin-top: 50px;
}

.overlayContentCompte {
  z-index: 100;
  position: fixed;
  top: 80px;
  right: 125px;
  height: 15em;
  background-color: #D1ECF8;
  border: solid #064082;
}
@media screen and (max-width : 428px) {
  .overlayContentCompte {
    right: 70px;
  }
}
.overlayContentCompte div {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.overlayContentCompte div hr {
  width: 95%;
}
.overlayContentCompte div a {
  padding: 1.5em;
  color: black;
  text-decoration: none;
}
.overlayContentCompte div a:hover {
  color: #6CA6E9;
}

.btnJaune {
  font-family: "Mulish";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #FCB66B;
  border-radius: 1em;
  height: 2rem;
  border: none;
  cursor: pointer;
}
.btnJaune:hover {
  background-color: rgb(149.9602649007, 79.0331125828, 3.0397350993);
}
.btnJaune:active {
  background-color: rgb(99.9735099338, 52.6887417219, 2.0264900662);
}
.btnJaune {
  border: 0px;
  color: black;
  width: 50%;
  margin: 1em;
}

.overlayMenuCatMob {
  z-index: 1000;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlayContentCatMob {
  z-index: 100;
  position: fixed;
  background: white;
  text-align: left;
  min-width: 70%;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}
.overlayContentCatMob ul {
  padding-inline-start: 1rem;
}
.overlayContentCatMob ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.overlayContentCatMob ul li a {
  text-decoration: underline;
  font-family: "Mulish";
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.overlayContentCatMob ul ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}
.overlayContentCatMob ul ul > li {
  margin-left: 1rem;
}
.overlayContentCatMob .page-acc {
  position: sticky;
  top: 20%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #A1A1A1;
  width: 100%;
  background-color: white;
  z-index: 1001;
  padding-bottom: 5px;
  padding-top: 5px;
}
.overlayContentCatMob .page-acc a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}
.overlayContentCatMob .page-acc svg {
  margin-left: 50px;
}
.overlayContentCatMob .identification {
  position: sticky;
  top: 0;
  background-color: #064082;
  left: 0;
  width: 100%;
  height: 20%;
}
.overlayContentCatMob .identification a {
  text-decoration: none;
  color: white;
}
.overlayContentCatMob .identification h3, .overlayContentCatMob .identification p {
  margin: 0;
  color: white;
}
.overlayContentCatMob .identification .cross {
  position: absolute;
  top: 30px;
  right: 30px;
}
.overlayContentCatMob .identification .user-ident {
  position: absolute;
  top: 30px;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.overlayContentCatMob .identification .user-ident svg {
  margin-left: 20px;
  height: 28px;
  width: auto;
}
.overlayContentCatMob .identification .parcourir-alizon {
  position: absolute;
  top: 90px;
  padding-left: 1rem;
  margin-bottom: 80px;
}

#ajoutPanierFait.open {
  display: flex !important;
}

#ajoutPanierFait {
  display: none;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  background-color: #D1ECF8;
  width: 15em;
  padding: 1em;
  right: 40px;
  border-radius: 10px;
}
#ajoutPanierFait svg {
  color: green;
}
#ajoutPanierFait {
  margin-top: 1em;
  margin-left: 2em;
}
#ajoutPanierFait .bouton {
  padding: 0.3em;
}
#ajoutPanierFait .partieDroite {
  display: flex;
  flex-direction: column;
}

.ariane {
  margin-top: 30px;
  margin-left: 1em;
}
.ariane .arianeItem {
  font-size: 20px;
  color: rgb(122, 122, 122);
}
.ariane .arianeItem:active {
  color: black;
}

#retour {
  display: none;
}

.label-retour {
  cursor: pointer;
  font-family: "Mulish";
  width: 120px;
  display: flex;
  align-items: end;
  text-decoration: underline;
  margin: 20px;
  margin-top: 20px;
  color: #A1A1A1;
  font-size: 20px;
}

.btn-retour {
  display: flex;
  align-items: end;
  text-decoration: underline;
  margin: 20px;
  color: #A1A1A1;
  font-size: 20px;
}

.vide {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40%;
}
.vide a {
  color: grey;
  text-decoration: none;
  font-weight: lighter;
  font-style: italic;
}

.separateur {
  display: block;
  background-color: #FCB66B;
  width: 98%;
  height: 10px;
  border-radius: 1em;
}

.separateur2 {
  display: none;
  background-color: #FCB66B;
  width: 100%;
  height: 10px;
  border-radius: 1em;
}
@media screen and (max-width : 428px) {
  .separateur2 {
    display: block;
    margin-left: 20px;
  }
}

.div-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prixNormalbarre {
  color: gray;
  text-decoration: line-through;
}

.prixReducRed, .remise {
  color: #FF4444;
}

.card {
  background-color: #D1ECF8;
  flex: 0 0 auto;
  margin: 0 20px;
  color: black;
  width: auto;
  height: auto;
  max-width: 230px;
  max-height: 500px;
  border-radius: 0.5em;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width : 428px) {
  .card {
    width: 200px;
    height: 125px;
  }
}
.card .madein {
  grid-area: 2/1/2/4;
  font-size: 0.9rem;
  padding-right: 15px;
  font-weight: bolder;
  color: black;
}
@media screen and (max-width : 428px) {
  .card .madein {
    display: none;
  }
}
.card .description {
  grid-area: 2/1/2/4;
  padding-top: 25px;
  font-size: 0.9rem;
  padding-right: 15px;
  color: black;
}
@media screen and (max-width : 428px) {
  .card .description {
    display: none;
  }
}
.card figure {
  grid-area: 1/1/1/3;
}
@media screen and (max-width : 428px) {
  .card figure {
    grid-area: 1/1/1/4;
    display: flex;
    flex-direction: row;
  }
}
.card figure {
  margin: 0;
}
.card figure img {
  width: 225px;
  background-color: white;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em;
}
@media screen and (max-width : 428px) {
  .card figure img {
    margin-right: 10px;
    width: 70px;
    height: 70px;
  }
}
.card figure figcaption {
  font-size: 1.25em;
  font-weight: bold;
}
.card .etoiles {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  height: auto;
  grid-area: 1/2/1/1;
  top: 30px;
}
@media screen and (max-width : 428px) {
  .card .etoiles {
    top: 28px;
  }
}
.card .prix {
  grid-area: 3/1/3/1;
  align-content: flex-end;
  font-weight: bold;
  font-size: 15px;
}
@media screen and (max-width : 428px) {
  .card .prix {
    grid-area: 2/1/2/1;
  }
}
.card .prix .prixNormalbarre, .card .prix .prixReducRed, .card .prix .remise {
  margin: 0;
}
.card div {
  grid-area: 3/2/3/2;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  float: right;
  height: auto;
}
@media screen and (max-width : 428px) {
  .card div {
    height: 30px;
    margin-top: 20px;
    grid-area: 2/3/2/3;
  }
}
.card div .button {
  right: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  display: block;
  font-family: "Mulish";
  width: 100%;
  margin-bottom: 10px;
  min-width: 8rem;
  height: 2rem;
  text-align: center;
  color: black;
  font-weight: bold;
  background-color: #FCB66B;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}
@media screen and (max-width : 428px) {
  .card div .button {
    display: none;
  }
}

.etoile {
  color: #ccc;
  font-size: 1.1rem;
}

.etoile.pleine {
  color: #f5b301;
}

.mobile-commande {
  display: none;
  background-color: transparent;
  border: none;
  color: transparent;
}
@media screen and (max-width : 428px) {
  .mobile-commande {
    display: block;
    position: relative;
    top: -15px;
  }
}
.mobile-commande svg {
  fill: #FCB66B;
  stroke: black;
  width: 30px;
  height: auto;
}

.separateur {
  width: 80%;
  margin: 1em auto 0 auto;
}
@media screen and (max-width : 428px) {
  .separateur {
    height: 5px;
  }
}

.cmd {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cmd article {
  border-radius: 1em;
  margin-top: 20px;
  padding: 20px;
  width: 40%;
  background-color: #D1ECF8;
  display: flex;
  align-self: center;
  flex-direction: column;
}
.cmd article div {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cmd article div img {
  border-radius: 1em;
  width: 30%;
}
.cmd article .info {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width : 428px) {
  .cmd article .info p {
    font-size: smaller;
  }
}
.cmd article .button {
  font-family: "Mulish";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #064082;
  border-radius: 1em;
  height: 2rem;
  border: none;
  cursor: pointer;
}
.cmd article .button:hover {
  background-color: rgb(6.75, 72, 146.25);
}
.cmd article .button:active {
  background-color: rgb(4.5, 48, 97.5);
}
.cmd article .button {
  align-content: center;
}/*# sourceMappingURL=mesCommandes.css.map */