@use "../../tools/vback" as *;
//@use "../../tools/vFront" as *;
@use "./styleComB" as *;



main {
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    h1, h2 {
        font-family: $Poltitle;
    }
    p {
        font-family: $Poltext;
    }
    // margin-left: 80px;
    // margin-right: 80px;
    .image_prod{
        // border: black 2px solid;
        margin: 0;
        margin-top: 50px;
    }
    .img_etoile{
        padding-left: 20px;
        svg:last-child{
            margin-right: 20px;
        }
    }
    h1{
        //margin-top: 40px;
        margin-bottom: 0;
        
    }
    p{
        margin: 0;
    }
    input {
        margin: 20px;
    }
    input:hover {
        border-color: #A1A1A1;
        
    }
    .buton_commentaire {
        width: 250px;
        height: 60px;
        font-size: 16px;
        font-weight: bold;
        background-color: #FCB66B;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
    .buton_modif, .buton_ret_cat, .buton_ajt_cat {
        width: 200px;
        height: 70px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
    .buton_modif {
        display: inline-flex;
        text-decoration: none;
        background-color: #FCB66B;
        div{
            display: flex;
            justify-content: center;
            color: $noir;
            align-items: center;
            flex-grow: 1;
        }
        width: 200px;
        height: 70px;
    }
    .buton_ajt_cat{
        background-color: $eleBleu;
    }
    .buton_ret_cat {
        background-color: $inverse;
    }
    .alignement_space_betwen {
        display: flex;
        justify-content: space-between;
        align-items: top;
        
    }
    .alignemnt_droite_gauche {
        display: flex;
        align-items: center;
    }

    
    hr {
        margin-top: 20px;
        width: 99%;
    }
    div+h2 {
        padding-top: 20px;
    }
    p {
        font-size: 20px;
    }

    .description{
        margin-right: 20px;
    }

    .produit-content{
        background-color: $blanc;
        border-radius: 8px;
        padding-left: 20px;
        // padding-right: 20px;
        // margin-right: 20px;
        width: 100%;
    }

    .catego{
        width: 100%;
        background-color: $blanc;
        border-radius: 8px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: auto;

        h2{
            margin: 0;
            margin-top: 20px;
            margin-left: 20px;
        }

        .specificitees{
            width: 100%;
            padding-bottom: 20px;
            padding-left: 20px;
            

            .spe-droite{
                margin-left: 50px;
            }

            .table-spe{
                :nth-child(1), :nth-child(4), :nth-child(7){
                text-decoration: underline;
                }

            }

            hr{
                width: 95%;
                align-self: center;
                margin-left: 0;
            }
            
        }

        .caract{
            background-color: $colS;
            margin-right: 50px;
            padding: 20px;
            padding-bottom: 50px;
            border-radius: 16px;
            width: 20em;
            height: auto;
            p {
                padding-left: 2em;
                font-size: 22px;
                
            }
            ul li{
                list-style-type: none;
                
            }
        
        }
    }




}

.right-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
}


body{
    background-color: #eaeaea;
}

.vert{
    background-color: #a8f5b3 !important;
}

.rouge{
    background-color: #f5a3a3 !important;
}

.produit-content{

    img{
        width: 350px;
        height: auto;
        object-fit: cover;

    }
}

.info-produit{
    display: flex;
    flex-direction: row;

}

.description-prod{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.stock{
    display: flex;
    flex-direction: row;
    align-items: center;
    a{
        margin: 10px;
    }
}


#ouvrirReappro{
    background:none;
    display: flex;
    border:none;
    cursor:pointer;
    margin:0 0 0 10px;
    background-color: $eleOrange;
    border-radius:$radius;
    align-items: center;
}

#divReappro{
    display:none;
    position:absolute;
    z-index:10000;
    justify-content:center;
    align-items:center;
    justify-self: center;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.205);
    article{
        display: flex;
        flex-direction: column;
        border: 3px solid $eleOrange;
        border-radius: $radius;
        padding: 0 20px 20px 20px;
        align-items: center;
        background-color: $blanc;
        button{
            background-color: $colP;
            border-radius: $radius;
            color: $blanc;
            width: 60%;
        }
        h1{
            align-self: center;
        }
    }
}




/*################################*/
/*-------- affichage avis --------*/
/*################################*/

.avis-produits {
    background-color: $blanc;
    border-radius: 8px;
    padding: 20px;
}

.liste-avis {
    display: flex;
    flex-direction: column;
    max-height: 350px;   
    overflow-y: auto;     
    gap: 15px; 
    
    p{
        padding-left: 20px;
    }

    // @media screen and (max-width: 428px){
    //     width: 90%;
    // }
}

.avis {
    background: #e3e3e3;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

    @media screen and (max-width: 428px){
        width: 90%;
    }
}

.avis-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.commentaire {
    margin-top: 10px;
    @media screen and (max-width: 428px){
        width: 90%;
    }
}

.note {
    color: #f5b301;
    font-size: 20px;
}

.note .star {
    font-size: 1rem;
    color: transparent;
    -webkit-text-stroke: 1px #f5b301; 
    margin: 0;
    padding: 0;
}

.note .star.full {
    color: #f5b301;
}


.date {
    font-size: 13px;
    color: $colP;
}


.photos-avis {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.photo-avis {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;

    @media screen and (max-width: 428px){
        width: 60px;
        height: 60px;
    }
}

.pdp-avis{
    background-color: $blanc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/*################################*/
/* -------- évaluation ----------*/

.evaluation-produit {
    background-color: $blanc;
    border-radius: 8px;
    margin: 20px 0;

    h1{
        padding-left: 20px;
    }
    
}

.evaluation {
    margin-left: 200px;
    display: flex;
    //justify-content: space-between;
    gap: 200px;
    align-items: center;
    padding-bottom: 20px;

    @media screen and (max-width: 428px){
        margin-left: 0;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}

.eval-moy {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $eleOrange;
}

.score-moyen {
    font-size: 2rem;
    font-weight: bold;
    color: $colP;
}

.etoiles {
    margin-top: 5px;
}

.etoile {
    color: #ccc;
    font-size: 1.5rem;
}

.grosse{
    font-size: 2.5rem;
}

.etoile.pleine {
    color: #f5b301;
}

.total {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
}

.repartition-notes {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width: 428px){
        width: 90%;
        padding-left: 0;
    }
}

.note-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.note-label {
    width: 50px;
    font-size: 1rem;
    color: $colP;
}

.progression-note {
    flex: 1;
    height: 12px;
    background-color: #ccc;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.barre-progression {
    height: 100%;
    background-color: $eleOrange;
    border-radius: 10px;
}

.nbr-note {
    width: 30px;
    text-align: center;
    font-size: 1rem;
    color: #333;
}


.overlayContentCompte{
    hr{
        margin: 4.95px 7px;
    }
}

.prixNormalbarre{
    text-decoration: line-through;
    color: grey;
}

.prixReduc{
    font-size: 24px;
    font-weight: bold;
    color: red;
}
